.personInfo {
    display: none;
}

body {
    background-color: #140D27;
    color: white;
    text-align: center;
    border: 1px solid white;
    box-shadow: 2px 2px 2px 2px  whitesmoke;
    
    
   
}

h2 {
    color: #D434FE;

}

input {
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 10px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    text-decoration: none;
  
}


button {
    margin-top: 10px;
    padding: 8px;
    margin-bottom: 10px;
    outline: none;
    text-decoration: none;
    font-size: 15px;
    
    
}

 button a {
    text-decoration: none;
    color: white;    
}

.add_button {
    background: linear-gradient(to left, #903AFF, #D434FE, #FF26B9, #FE34B9) ;
    text-decoration: none;
    border: none
}

p a {
    text-decoration: none;
    color: white;
}

span a {
    text-decoration: none;
   color: red;
}

img {
    width: 80px;
}

span button {
    background: linear-gradient(to left, #903AFF, #D434FE, #FF26B9, #FE34B9) ;
    color: white;
    border: none;
}